// bower:scss
// endbower
@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.m-modal {
  display: block;
  position: relative;
  width: auto;
  border-radius: 5px;
  background-color: #ffffff;
  &__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  &__close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      transform: rotate(180deg);
      text-decoration: none;
    }
  }
}

.m-modal-complete {
  display: flex;
  align-items: stretch;
  &__left {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 385px;
    min-height: 438px;
    padding: 30px 15px;
    background: url('../images/alena.png') no-repeat center;
    background-size: cover;
    text-align: center;
  }
  &__name {
    display: block;
    margin: 0 0 4px 0;
    color: #ffffff;
    font-size: 24px;
    font-style: italic;
  }
  &__phone {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  &__content {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 540px;
    padding: 40px 60px;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
  }
  &__progress {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    &:after {
      display: block;
      position: absolute;
      content: '';
      right: -40px;
      top: -20px;
      width: 93px;
      height: 119px;
      background: url('../images/modal_after.png') no-repeat center;
      background-size: contain;
    }
  }
  &__sub-title {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
  }
  ul {
    display: block;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 0 0 18px 0;
      padding: 4px 0 4px 28px;
      background: url('../images/modal_arrow.png') no-repeat left top;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__give {
    display: block;
    margin: 0 0 14px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    b,
    strong {
      color: #ffae00;
      font-weight: 700;
    }
  }
  &__form {
    display: flex;
    align-items: stretch;
    width: 100%;
    input {
      display: inline-block;
      width: 100%;
      max-width: 190px;
      padding: 14px 20px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ffae00;
      outline: 0;
      background-color: transparent;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      width: 100%;
      max-width: 230px;
      padding: 14px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #ffae00;
      outline: 0;
      background-color: #ffae00;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #5eab40;
        background-color: #5eab40;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-modal-lider {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  padding: 50px;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 10px 0;
    opacity: 0.68;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
  }
  input {
    display: block;
    width: 100%;
    max-width: 360px;
    margin-bottom: 8px;
    padding: 14px 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
  }
  &__checked {
    display: block;
    width: 100%;
    max-width: 330px;
    margin: 0;
    padding: 6px 0 0 30px;
    background: url('../images/icon_checked.png') no-repeat left top;
    color: #374101;
    font-size: 14px;
    font-weight: 300;
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 360px;
    margin-bottom: 15px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #5eab40;
    color: #fffffe;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffae00;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-modal-good {
  width: 1230px;
  padding: 60px;
  &__type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 262px;
    margin-bottom: 1px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    p {
      display: inline-block;
      max-width: 75px;
      margin: 0;
      color: #111010;
      font-size: 14px;
      font-weight: 300;
    }
    &-what {
      display: inline-block;
      max-width: 90px;
      color: #111010;
      font-size: 19px;
      font-weight: 300;
    }
  }
  &__big {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 250px;
    margin: 0 auto 15px auto;
    object-fit: contain;
  }
  &__photos {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-bottom: 0;
  }
  &__small {
    display: inline-block;
    width: 100%;
    max-width: 66px;
    height: 53px;
    margin: 0 1px 1px 0;
    border-radius: 5px;
    background-color: #bfbfbf;
    object-fit: contain;
  }
  &__type-title {
    display: block;
    margin: 0 0 4px 0;
    color: #111010;
    font-size: 24px;
    font-style: italic;
  }
  &__content {
    display: block;
    padding: 30px 20px 30px 65px;
    background-color: #f8f8f8;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
  }
  &__table {
    margin-bottom: 50px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    border: 0 !important;
    td {
      padding: 0 20px 12px 0;
    }
    b,
    strong {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 0 25px 0;
    input {
      display: none;
    }
    [type="radio"]:checked+label {
      box-shadow: 0 0 0 4px #ffae00;
    }
  }
  &__color {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 20px 20px 0;
    border-radius: 999rem;
    background-color: #ffffff;
    cursor: pointer;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__label {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #000000;
    font-size: 24px;
    font-style: italic;
  }
  &__value {
    display: inline-block;
    width: 120px;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  &__complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    padding: 35px 60px;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  &__info {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    b,
    strong {
      color: #ffae00;
    }
  }
  &__button {
    display: inline-block;
    padding: 24px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #5eab40;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffae00;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__types {
    display: block;
    margin-top: 20px;
    input {
      display: none;
    }
    [type="radio"]:checked+label {
      background-color: #ffae00;
    }
  }
}

.m-top {
  display: block;
  width: 100%;
  padding: 0 0 800px 0 !important;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/top_bg.jpg') no-repeat center;
  background-size: cover;
  &__prep {
    display: block;
    margin: 180px 0 25px 0;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
  }
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    text-align: center;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 325px;
    margin: 0 auto;
    &-price {
      display: inline-block;
      flex: 1 1 50%;
      padding: 14px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ffae00;
      background-color: transparent;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
    &-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 50%;
      padding: 15px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #ffae00;
      background-color: #ffae00;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      img {
        margin-left: 8px;
      }
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-header {
  display: block;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: inline-block;
    max-width: 140px;
    margin: 0 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a {
      display: inline-block;
      padding: 8px 7px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffae00;
        text-decoration: none;
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
  }
  &__number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    img {
      display: inline-block;
      margin-right: 8px;
    }
    span {
      display: inline-block;
      color: #ffffff;
      font-size: 21px;
      font-weight: 700;
      text-transform: uppercase;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffae00;
      text-decoration: none;
      span {
        color: #ffae00;
      }
    }
  }
  &__wu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    span {
      display: inline-block;
      color: #fff9f9;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.m-features {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 1px 0 0 0;
  &__card {
    display: inline-block;
    flex: 1;
    max-width: 320px;
    min-height: 225px;
    margin-right: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:last-child {
      margin-right: 0;
    }
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
    }
    &-image {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 14px;
    }
    &-title {
      display: block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }
  }
}

.m-goods {
  display: block;
  padding: 95px 0 20px 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 495px;
    margin: 0 0 30px 0;
    padding: 45px 40px 25px 40px;
    box-shadow: 0 37px 51px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    &_sale {
      &:after {
        display: block;
        position: absolute;
        content: 'sale';
        right: 20px;
        top: 20px;
        padding: 2px 12px;
        border-radius: 11px;
        background-color: #ffb931;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.25px;
      }
    }
    &_hit {
      &:after {
        display: block;
        position: absolute;
        content: 'хит';
        right: 20px;
        top: 20px;
        padding: 2px 12px;
        border-radius: 11px;
        background-color: #ff5831;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.25px;
      }
    }
    &-title {
      display: inline-block;
      margin: 0 0 25px 0;
      border-bottom: 1px solid #adadad;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        opacity: 0.8;
        color: #000000;
        text-decoration: none;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 170px;
      margin-bottom: 25px;
      img {
        max-width: 100%;
      }
    }
    &-colors {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 35px;
    }
    &-color {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 2px 9px;
      border-radius: 999rem;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
    }
    &-prices {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    &-old {
      display: block;
      margin: 0 0 1px 0;
      opacity: 0.6;
      color: #000000;
      font-size: 17px;
      font-weight: 700;
      text-decoration: line-through;
      text-transform: uppercase;
      letter-spacing: 2.25px;
    }
    &-price {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.25px;
    }
    &-button {
      display: block;
      width: 100%;
      max-width: 175px;
      padding: 20px 5px;
      border-radius: 5px;
      background-color: #5eab40;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      text-align: center;
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffae00;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-righted {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 40px;
    }
    &-more {
      display: inline-block;
      border-bottom: 1px solid #cbe4c2;
      color: #5eab40;
      font-size: 16px;
      font-style: italic;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        opacity: 0.8;
        color: #ffae00;
        text-decoration: none;
      }
    }
  }
}

.m-stock {
  display: block;
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: -135px;
  padding: 50px 100px 50px 550px;
  background: url('../images/stock_bg.jpg') no-repeat center;
  background-size: cover;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 468px;
    height: 330px;
    top: 0;
    left: 0;
    margin-top: -30px;
    margin-left: 30px;
    background: url('../images/stock_1.png') no-repeat center;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    b,
    strong {
      color: #ffb81e;
      font-size: 30px;
      letter-spacing: 1.35px;
    }
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    border-radius: 5px;
    background-color: #5eab40;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    img {
      display: inline-block;
      margin-left: 8px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffae00;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-why {
  display: block;
  padding: 95px 0 120px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 45px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
  }
  &__image {
    display: block;
    width: 1059px;
    margin: 0 auto;
  }
  &__cards {
    display: none;
    width: 100%;
    margin: 0 auto;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 20px auto;
    text-align: center;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-bottom: 15px;
      border-radius: 999rem;
      box-shadow: 0 18px 27px rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
    }
    &-title {
      display: block;
      margin: 0 0 15px 0;
      color: #000000;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }
    &-text {
      color: #000000;
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.m-best {
  display: block;
  padding: 90px 0 60px 0;
  background: #ffffff url('../images/best_bg.jpg') no-repeat center;
  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 55px;
    text-align: center;
    &-image {
      display: block;
      width: 58px;
      height: 58px;
      margin-bottom: 15px;
      border-radius: 999rem;
      box-shadow: 0 14px 16px rgba(0, 0, 0, 0.27);
      object-fit: contain;
    }
    &-title {
      display: block;
      margin: 0 0 4px 0;
      color: #ffae00;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      margin: 0;
      color: #2c2a2a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
      font-weight: 300;
    }
  }
}

.m-catalog {
  display: block;
  padding: 40px 0;
  background: url('../images/catalog_bg.jpg') no-repeat center;
  background-size: cover;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  &__title {
    display: block;
    margin: 40px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 20px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 150px;
    margin: 0 0 30px 0;
    &-title {
      display: block;
      margin: 0 0 4px 0;
      color: #ffae00;
      font-size: 34px;
      font-weight: 700;
    }
    &-text {
      display: block;
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;
    }
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    border-radius: 5px;
    background-color: #5eab40;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    img {
      display: inline-block;
      margin-left: 8px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffae00;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-about {
  display: block;
  padding: 95px 0 110px 0;
  background-color: #ffffff;
  img {
    max-width: 100%;
  }
  &__video {
    display: block;
    width: 100%;
    max-width: 560px;
    height: 390px;
    margin-top: 25px;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 28px 0;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 3px;
      height: 100%;
      top: 100%;
      left: 27px;
      background-color: #ffae00;
    }
    &:last-child {
      margin-bottom: 0;
      &:after {
        display: none;
      }
    }
    &-image {
      display: inline-block;
      width: 55px;
      height: 55px;
      margin-right: 22px;
      object-fit: contain;
    }
    &-title {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      b,
      strong {
        font-weight: 700;
      }
    }
  }
}

.m-service {
  display: block;
  padding: 100px 0 120px 0;
  background: url('../images/service_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin-bottom: 30px;
    text-align: center;
    &-image {
      display: block;
      margin-bottom: 16px;
    }
    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__calc {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 60px 50px 60px 480px;
    border-radius: 5px;
    background-color: #ffffff;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 504px;
      height: 334px;
      left: 0;
      bottom: 0;
      background: url('../images/learn_1.png') no-repeat center;
      background-size: contain;
    }
    &-title {
      display: block;
      margin: 0 0 45px 0;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
    }
    &-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 16px 22px;
      border-radius: 5px;
      background-color: #5eab40;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      text-align: center;
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      img {
        display: inline-block;
        margin-left: 8px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffae00;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-footer {
  display: block;
  width: 100%;
  &_bg {
    background: url('../images/bottom_bg.jpg') no-repeat center;
    background-size: cover;
  }
  &__content {
    display: block;
    padding: 150px 20px 150px 60px;
    background-color: #f5f5f5;
  }
  &__title {
    display: block;
    margin: 0 0 8px 0;
    color: #000000;
    font-size: 38px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    opacity: 0.54;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  &__row {
    display: block;
    margin: 0 0 15px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    b,
    strong {
      font-weight: 700;
    }
  }
  &__form {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 325px;
    padding-top: 15px;
    input {
      display: inline-block;
      width: 100%;
      max-width: 162px;
      padding: 15px 22px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ffae00;
      outline: 0;
      background-color: transparent;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      width: 100%;
      max-width: 162px;
      padding: 15px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #ffae00;
      outline: 0;
      background-color: #ffae00;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #5eab40;
        background-color: #5eab40;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-advices {
  display: block;
  padding: 95px 0 80px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 auto 40px auto;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 270px;
    min-height: 290px;
    margin-bottom: 30px;
    padding: 30px 30px 30px 40px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    &-date {
      display: block;
      margin: 0 0 20px 0;
      color: #fbfbfb;
      font-size: 16px;
      font-weight: 400;
    }
    &-title {
      display: block;
      margin: 0;
      color: #fbfbfb;
      font-size: 20px;
      font-weight: 700;
    }
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__form {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 270px;
    min-height: 290px;
    margin-bottom: 30px;
    padding: 0;
    &-title {
      display: block;
      margin: 0 0 8px 0;
      color: #5eab40;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    input {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
      padding: 12px 22px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #f5f5f5;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
    &-button {
      display: inline-block;
      width: 100%;
      padding: 12px 26px;
      border: 0;
      outline: 0;
      border-radius: 5px;
      background-color: #5eab40;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      &:after {
        background: white none repeat scroll 0 0;
        border-color: red;
        border-radius: 45px;
        border-style: solid;
        border-width: 0;
        box-shadow: 0 0 29px 10px #ffffff;
        content: "";
        filter: blur(20px);
        height: 140%;
        left: -30%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        transform: rotate(25deg);
        width: 25px;
        z-index: 3;
        transition: all .8s;
        opacity: .6;
        animation: light 3s infinite ease-out;
      }
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        background: #ffae00;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.m-bottom {
  display: block;
  padding: 20px 0;
  background-color: #3e3e3e;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 140px;
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    border-radius: 5px;
    background-color: #5eab40;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    img {
      display: inline-block;
      margin-left: 8px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffae00;
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-map {
  display: block;
  padding: 220px 0 120px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
}

#map {
  display: block;
  width: 100%;
  height: 460px;
  margin: 0 auto;
}

.m-reviews {
  display: block;
  width: 100%;
  padding: 95px 0 80px 0;
  background-color: #f8f8f8;
  overflow: hidden;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    width: 100%;
    max-height: 370px;
    overflow: hidden;
    .item {
      margin: 0 auto;
      outline: 0;
    }
    .slick-dots {
      bottom: 10px;
    }
    .slick-dots li {
      width: 10px;
      height: 10px;
    }
    .slick-dots li button:before {
      width: 10px;
      height: 10px;
      opacity: 1;
      color: #d5d5d5;
      font-size: 10px;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #ffae00;
    }
    .slick-next,
    .slick-prev {
      &:before {
        display: none;
      }
      width: 10px;
      height: 15px;
      top: 350px;
      bottom: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      filter: grayscale(1);
      transform: none;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        filter: grayscale(0);
        text-decoration: none;
      }
    }
    .slick-next {
      right: 50%;
      margin-right: -80px;
      background-image: url('../images/icon_next.png');
    }
    .slick-prev {
      left: 50%;
      margin-left: -80px;
      background-image: url('../images/icon_prev.png');
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 710px;
    height: 310px;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #ffffff;
    &-left {
      display: inline-block;
      width: 315px;
      height: 100%;
      img,
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      display: inline-block;
      flex: 1 1 400px;
      padding: 30px 30px 30px 35px;
    }
    &-header {
      display: flex;
      align-items: center;
      margin: 0 0 30px 0;
      img {
        display: inline-block;
        width: 64px;
        height: 64px;
        margin-right: 18px;
      }
    }
    &-title {
      display: inline-block;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .slick-current {
    .m-reviews__card {
      box-shadow: 0 18px 70px rgba(0, 0, 0, 0.13);
      opacity: 1;
    }
  }
}

.m-choose {
  display: block;
  padding: 95px 0 140px 0;
  background: url('../images/choose_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 8px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    text-align: center;
    b,
    strong {
      color: #ffae00;
      font-size: 24px;
      letter-spacing: 1.8px;
    }
  }
}

.h-w-100 {
  width: 100%;
}

.mbYTP_wrapper {
  filter: brightness(0.5);
}

.m-stepper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  min-height: 460px;
  margin: 0 auto;
  padding: 30px 20px 50px 20px;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #ffffff;
  img {
    max-width: 100%;
  }
  .tab-controls {
    width: 0px;
    height: 0px;
    overflow: hidden !important;
  }
  [class^='tab-item-'] {
    &:not(:first-of-type) {
      display: none;
    }
  }
  &__wrapper {
    display: none;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 230px;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0 auto 16px auto;
    border-radius: 999rem;
    background-color: #ffae00;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    span {
      z-index: 1;
    }
    &_1 {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
        background: #2c2a2a;
      }
    }
    &_2 {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 11px;
        background: #2c2a2a;
      }
    }
    &_3 {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 22px;
        background: #2c2a2a;
      }
    }
    &_4 {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 33px;
        background: #2c2a2a;
      }
    }
    &_5 {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 44px;
        background: #2c2a2a;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 5px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
  &__close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 16px 36px;
    border: 0;
    outline: 0;
    border-radius: 10px 5px 5px 10px;
    border: 1px solid #cccccc;
    background-color: transparent;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    img {
      margin-right: 28px;
    }
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #b3b3b3;
      text-decoration: none;
    }
  }
  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    border: 0;
    position: relative;
    overflow: hidden;
    &:after {
      background: white none repeat scroll 0 0;
      border-color: red;
      border-radius: 45px;
      border-style: solid;
      border-width: 0;
      box-shadow: 0 0 29px 10px #ffffff;
      content: "";
      filter: blur(20px);
      height: 140%;
      left: -30%;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      transform: rotate(25deg);
      width: 25px;
      z-index: 3;
      transition: all .8s;
      opacity: .6;
      animation: light 3s infinite ease-out;
    }
    outline: 0;
    border-radius: 5px 10px 10px 5px;
    border: 1px solid #ffae00;
    background-color: #ffae00;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    img {
      margin-left: 28px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      border-color: #5eab40;
      background: #5eab40;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__final {
    display: block;
    width: 100%;
    max-width: 800px;
    padding-top: 30px;
    &-color {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 5px;
      border-radius: 999rem;
      background-color: #b3b3b3;
    }
    &-image {
      display: block;
      width: 100%;
      max-width: 180px;
      height: 140px;
      margin-bottom: 0 auto 20px auto;
      object-fit: contain;
    }
    &-spaced {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding-top: 20px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        bottom: 100%;
        right: 80px;
        width: 39px;
        height: 46px;
        background: url('../images/icon_wtf.png') no-repeat center;
        background-size: contain;
      }
    }
    &-price {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      color: #000000;
      font-size: 21px;
      font-weight: 300;
      font-weight: 300;
      b,
      strong {
        font-weight: 700;
      }
    }
    &-percent {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 43px;
      height: 43px;
      margin: 0 10px;
      border-radius: 999rem;
      background-color: #309914;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
    }
    &-button {
      display: inline-flex;
      align-items: center;
      width: 100%;
      max-width: 225px;
      padding: 12px 6px;
      border-radius: 0 5px 5px 0;
      border: 1px solid #ffae00;
      outline: 0;
      background-color: #ffae00;
      img {
        display: inline-block;
        margin-left: 6px;
      }
      color: #ffffff;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #5eab40;
        background-color: #5eab40;
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-form {
      display: inline-flex;
      align-items: stretch;
      input {
        display: inline-block;
        width: 100%;
        max-width: 155px;
        padding: 14px 20px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ffae00;
        outline: 0;
        background-color: transparent;
        color: #000000;
        font-size: 13px;
        font-weight: 300;
      }
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
    }
    &-text {
      display: flex;
      align-items: center;
      margin: 0 0 12px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      img {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        border-radius: 999rem;
        object-fit: contain;
      }
      b,
      strong {
        margin-right: 5px;
        font-weight: 700;
      }
    }
  }
  &__services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 544px;
    &-card {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 268px;
      margin: 0 0 10px 0;
      padding: 5px;
      border: 2px solid transparent;
      box-shadow: 0 11px 51px rgba(0, 0, 0, 0.11);
      border-radius: 5px;
      background-color: #ffffff;
      img {
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
    }
    &-text {
      display: block;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    input {
      display: none;
    }
    [type="checkbox"]:not(:checked)+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      bottom: 10px;
      right: 10px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    [type="checkbox"]:checked+label {
      border-color: #ffae00;
    }
    [type="checkbox"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      bottom: 10px;
      right: 10px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__more {
    display: block;
    width: 100%;
    max-width: 500px;
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
    }
    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      margin-bottom: 25px;
    }
    &-card {
      display: inline-block;
      margin: 0 12px 8px 0;
      padding: 4px 16px;
      border-radius: 14px;
      border: 1px solid #cecece;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
    input {
      display: none;
    }
    [type="radio"]:checked+label {
      border-color: #ffae00;
    }
  }
  &__colors {
    display: block;
    width: 100%;
    max-width: 400px;
    input {
      display: none;
    }
    [type="radio"]:checked+label {
      border-radius: 999rem;
      box-shadow: 0 0 0 5px #ffae00;
    }
    &-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 240px;
    }
  }
  &__color {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 10px 20px 10px;
    border-radius: 999rem;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    input {
      display: none;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    label:hover {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    label:hover {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="radio"]:checked+label {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="checkbox"]:checked+label {
      box-shadow: inset 0 0 0 6px #d54f35;
    }
    [type="checkbox"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 170px;
    height: 190px;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 4px 4px 24px 4px;
      overflow: hidden;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0);
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
  }
  &__types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 605px;
    input {
      display: none;
    }
    [type="radio"]:not(:checked)+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      bottom: 10px;
      right: 10px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      bottom: 10px;
      right: 10px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__type {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 180px;
    min-height: 150px;
    margin-bottom: 15px;
    padding: 24px 10px 10px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    &-image {
      display: block;
      width: 140px;
      height: 90px;
      object-fit: contain;
    }
    &-title {
      display: block;
      margin: 0 0 15px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
  }
  &__sizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 480px;
    .row {
      width: 100%;
    }
    input {
      display: none;
    }
    [type="radio"]:not(:checked)+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_check.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_checked.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__size {
    display: block;
    position: relative;
    margin-bottom: 14px;
    padding-left: 38px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 590px;
    padding: 22px 24px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #ededed;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }
}

.h-desktop-show {
  display: block;
}

@keyframes light {
  0% {
    left: -25%;
  }
  25% {
    left: 120%;
  }
  100% {
    left: 180%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .m-reviews__cards .item {
    width: 740px !important;
  }
  .m-header__nav {
    margin-left: 210px;
  }
  .m-header_fixed {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 800;
  }
}


/* new */

.m-stepper__type-title {
  min-height: 42px;
}

.m-footer__slides {
  display: block;
  width: 100%;
  height: 562px;
  overflow: hidden;
}

.m-footer__slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-goods__card-images {
  display: block;
  width: 100%;
}

.item {
  outline: none;
}

.m-goods__card-color {
  width: 18px;
  height: 18px;
  margin: 2px;
  cursor: pointer;
}

.m-goods__card-image {
  margin-left: -1px;
}

.m-goods__card-images {
  overflow: hidden;
}

.m-goods__card-colors .slick-current .m-goods__card-color {
  box-shadow: 0 0 0 2px #ffae00;
}

@media (max-width: 1199px) {
  .h-mobile-hide {
    display: none;
  }
  .m-header__mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .m-header__logo {
      margin: 0;
    }
  }
  .h-mobile-show {
    display: block;
  }
  .h-desktop-hide {
    display: none;
  }
  .m-why__image {
    display: none;
  }
  .m-features {
    flex-flow: row wrap;
  }
  .m-stock {
    padding: 20px;
  }
  .m-stock:before {
    display: none;
  }
  .m-service__calc {
    padding: 20px;
  }
  .m-service__calc:before {
    display: none;
  }
  .m-header__nav {
    display: none;
    padding: 12px 0;
    a {
      display: block;
      margin: 0;
      padding: 8px 12px;
      text-align: center;
    }
  }
  .m-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .m-header__right {
    margin-top: 6px;
  }
  .m-top__prep {
    margin: 40px 0 10px 0;
  }
  .m-top__title {
    font-size: 42px;
  }
  .m-top__text {
    margin-bottom: 20px;
  }
  .m-top {
    height: auto !important;
    padding-bottom: 40px !important;
  }
  .m-features__card {
    min-height: 160px;
    margin: 0;
  }
  .m-features__card {
    max-width: 320px;
  }
  .m-goods {
    padding: 30px 0 10px 0;
  }
  .m-goods__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-goods__card {
    padding: 20px;
  }
  .m-goods__card {
    min-height: 1px;
  }
  .m-goods__card-bottom {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .m-goods__card-prices {
    align-items: center;
  }
  .m-goods__card-colors {
    margin-bottom: 15px;
  }
  .m-stock__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .m-stock {
    margin: 0;
  }
  .m-map {
    padding: 30px 0;
  }
  .m-map__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  #map {
    height: 300px;
  }
  .m-reviews {
    display: block;
    padding: 30px 0;
  }
  .m-reviews__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-reviews__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .m-choose {
    padding: 30px 0;
  }
  .m-choose__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .m-choose__text {
    margin-bottom: 20px;
  }
  .m-stepper {
    padding: 20px;
  }
  .m-stepper__types {
    justify-content: space-around;
  }
  .m-stepper__close {
    margin: 0 4px 4px 4px;
  }
  .m-stepper__colors-cards {
    justify-content: space-around;
  }
  .m-stepper__services-card {
    text-align: center;
  }
  .m-stepper__services-card img {
    display: block;
    margin: 0 auto 10px auto;
  }
  .m-stepper__final-form {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .m-stepper__final-button {
    padding: 14px;
    border-radius: 5px;
  }
  .m-stepper__final-form input {
    max-width: 220px;
    margin-bottom: 4px;
    border-radius: 5px;
  }
  .m-why {
    padding: 30px 0;
  }
  .m-why__title {
    font-size: 28px;
  }
  .m-why__text {
    margin-bottom: 20px;
  }
  .m-best {
    padding: 30px 0;
  }
  .m-best__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-best__card {
    margin-bottom: 30px;
  }
  .m-catalog {
    padding: 20px 0;
  }
  .m-catalog__title {
    margin: 0 0 20px 0;
    font-size: 23px;
    text-align: center;
  }
  .m-catalog__card {
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .m-catalog__cards {
    justify-content: space-around;
  }
  .m-catalog__button {
    display: flex;
    margin: 0 auto;
  }
  .m-about {
    padding: 30px 0;
  }
  .m-about__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-about__video {
    height: 200px;
  }
  .m-service {
    padding: 30px 0;
  }
  .m-service__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-service__calc-title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .m-service__calc-button {
    padding: 16px 8px;
  }
  .m-advices {
    padding: 30px 0;
  }
  .m-advices__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-advices__card {
    min-height: 230px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .m-advices__form {
    margin-bottom: 0;
  }
  .m-footer__content {
    padding: 20px 0;
  }
  .m-footer__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-bottom>.container {
    justify-content: space-around;
  }
  .m-bottom__logo {
    margin-bottom: 10px;
  }
  .m-why__cards {
    display: block;
  }
  .m-goods__card-righted {
    padding: 0;
  }
  .m-modal {
    margin: 20px 5px;
  }
  .m-modal-good__complete {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .m-modal-good {
    width: 100%;
  }
  .m-modal-good {
    padding: 20px 0;
  }
  .m-modal-good__big {
    max-width: 225px;
    height: 190px;
  }
  .m-modal__close {
    right: 25px;
  }
  .m-modal-good__content {
    padding: 20px;
  }
  .m-modal-good__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .m-modal-good__table {
    margin-bottom: 30px;
  }
  .m-modal-good__colors {
    padding: 10px 0;
  }
  .m-modal-good__complete {
    padding: 20px;
  }
  .m-modal-good__info {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
  }
  .m-modal-good__button {
    padding: 16px 8px;
    text-align: center;
  }
  .m-modal-lider {
    width: 100%;
    padding: 20px 15px;
  }
  .m-goods__card_sale:after {
    right: 0;
    top: 0;
  }
  .m-goods__card_hit:after {
    right: 0;
    top: 0;
  }
  .m-stepper__final-spaced:before {
    display: none;
  }
  .m-modal-complete__progress:after {
    display: none;
  }
  .m-modal-complete__left {
    display: none;
  }
  .m-modal-complete__content {
    width: 100%;
    padding: 20px 15px;
  }
  .m-modal-complete__title {
    margin-bottom: 5px;
  }
  .m-modal-complete ul {
    margin: 0;
  }
  .ytp-cued-thumbnail-overlay-image {
    display: none !important;
  }
  .ytp-cued-thumbnail-overlay {
    display: none !important;
  }
  .m-reviews {
    &__cards {
      display: block;
      width: 100%;
      max-height: auto;
      overflow: hidden;
      .item {
        margin: 0 auto;
        outline: 0;
      }
      .slick-next,
      .slick-prev {
        display: none;
      }
      .slick-dots {
        display: none !important;
      }
    }
    &__card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #ffffff;
      &-left {
        display: inline-block;
        width: 315px;
        height: 100%;
        img,
        iframe {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &-content {
        display: block;
        padding: 20px;
      }
      &-header {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        img {
          display: inline-block;
          width: 64px;
          height: 64px;
          margin-right: 18px;
        }
      }
      &-title {
        display: inline-block;
        color: #000000;
        font-size: 18px;
        font-weight: 700;
      }
      &-text {
        display: block;
        margin: 0;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    .slick-current {
      .m-reviews__card {
        box-shadow: 0 18px 70px rgba(0, 0, 0, 0.13);
        opacity: 1;
      }
    }
  }
  .m-footer__slides {
    height: 300px;
  }
  .m-features__card {
    max-width: 50%;
    flex: 1 1 50%;
  }
  .m-reviews__cards .slick-next,
  .m-reviews__cards .slick-prev {
    display: none !important;
  }
  .m-reviews__card-left {
    height: 190px;
  }
  .m-goods__card-color {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}